Connected Services/NumeroALetrasServicio/NumerosALetrasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LetrasANumeros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="valor" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LetrasANumerosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LetrasANumerosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LetrasANumerosSoapIn">
    <wsdl:part name="parameters" element="tns:LetrasANumeros" />
  </wsdl:message>
  <wsdl:message name="LetrasANumerosSoapOut">
    <wsdl:part name="parameters" element="tns:LetrasANumerosResponse" />
  </wsdl:message>
  <wsdl:portType name="NumerosALetrasServiceSoap">
    <wsdl:operation name="LetrasANumeros">
      <wsdl:input message="tns:LetrasANumerosSoapIn" />
      <wsdl:output message="tns:LetrasANumerosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NumerosALetrasServiceSoap" type="tns:NumerosALetrasServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LetrasANumeros">
      <soap:operation soapAction="http://tempuri.org/LetrasANumeros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NumerosALetrasServiceSoap12" type="tns:NumerosALetrasServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LetrasANumeros">
      <soap12:operation soapAction="http://tempuri.org/LetrasANumeros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NumerosALetrasService">
    <wsdl:port name="NumerosALetrasServiceSoap" binding="tns:NumerosALetrasServiceSoap">
      <soap:address location="https://localhost:44382/NumerosALetrasService.asmx" />
    </wsdl:port>
    <wsdl:port name="NumerosALetrasServiceSoap12" binding="tns:NumerosALetrasServiceSoap12">
      <soap12:address location="https://localhost:44382/NumerosALetrasService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>